In [4]:
#엑셀파일 불러오기
import pandas as pd
xlsx_data = pd.read_excel(r'stock_value.xlsx',header=8)

xlsx_data.head(10)

,Symbol,A005930,A005930.1,A000660,A000660.1,A035420,A035420.1,A051910,A051910.1,A207940,...,A005610,A005610.1,A005180,A005180.1,A145990,A145990.1,A009410,A009410.1,A008350,A008350.1
0,Symbol Name,삼성전자,삼성전자,SK하이닉스,SK하이닉스,NAVER,NAVER,LG화학,LG화학,삼성바이오로직스,...,SPC삼립,SPC삼립,빙그레,빙그레,삼양사,삼양사,태영건설,태영건설,남선알미늄,남선알미늄
1,Kind,NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),...,NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C)
2,Item,6000601002,6000701001,6000601002,6000701001,6000601002,6000701001,6000601002,6000701001,6000601002,...,6000601002,6000701001,6000601002,6000701001,6000601002,6000701001,6000601002,6000701001,6000601002,6000701001
3,Item Name,EPS(원),PER(배),EPS(원),PER(배),EPS(원),PER(배),EPS(원),PER(배),EPS(원),...,EPS(원),PER(배),EPS(원),PER(배),EPS(원),PER(배),EPS(원),PER(배),EPS(원),PER(배)
4,Frequency,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,...,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL
5,2015-01-01 00:00:00,109882.59,12.07653,5937.28,8.0424,15737.39,45.24257,15601.98,11.60109,77039.61,...,4354.37,34.44815,2511.68,30.01975,7544.2,8.17847,19.44,252.31481,134.69,9.05784
6,2015-01-02 00:00:00,109882.59,12.10383,5937.28,8.0424,15737.39,46.44989,15601.98,11.537,77039.61,...,4354.37,35.59642,2511.68,29.62161,7544.2,8.00615,19.44,254.11523,134.69,8.98359
7,2015-01-03 00:00:00,109882.59,12.10383,5937.28,8.0424,15737.39,46.44989,15601.98,11.537,77039.61,...,4354.37,35.59642,2511.68,29.62161,7544.2,8.00615,19.44,254.11523,134.69,8.98359
8,2015-01-04 00:00:00,109882.59,12.10383,5937.28,8.0424,15737.39,46.44989,15601.98,11.537,77039.61,...,4354.37,35.59642,2511.68,29.62161,7544.2,8.00615,19.44,254.11523,134.69,8.98359
9,2015-01-05 00:00:00,109882.59,12.13113,5937.28,8.02556,15737.39,47.59366,15601.98,11.18448,77039.61,...,4354.37,36.05573,2511.68,29.42254,7544.2,8.45683,19.44,255.65844,134.69,9.05784

In [24]:
#EPS가 해당 된 열 삭제하기
import pandas as pd
xlsx_data = pd.read_excel(r'stock_value.xlsx',header=8)
cols = xlsx_data.columns

for i in range(1,len(cols)):
    if i % 2 == 1:
        del xlsx_data[cols[i]]
        
xlsx_data = xlsx_data.fillna(0)
xlsx_data.head(10)

,Symbol,A005930.1,A000660.1,A035420.1,A051910.1,A207940.1,A035720.1,A005380.1,A006400.1,A068270.1,...,A006390.1,A003230.1,A007570.1,A001060.1,A018250.1,A005610.1,A005180.1,A145990.1,A009410.1,A008350.1
0,Symbol Name,삼성전자,SK하이닉스,NAVER,LG화학,삼성바이오로직스,카카오,현대차,삼성SDI,셀트리온,...,한일현대시멘트,삼양식품,일양약품,JW중외제약,애경산업,SPC삼립,빙그레,삼양사,태영건설,남선알미늄
1,Kind,NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),...,NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C),NVAL-IFRS(C)
2,Item,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001,...,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001,6000701001
3,Item Name,PER(배),PER(배),PER(배),PER(배),PER(배),PER(배),PER(배),PER(배),PER(배),...,PER(배),PER(배),PER(배),PER(배),PER(배),PER(배),PER(배),PER(배),PER(배),PER(배)
4,Frequency,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,...,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL,ANNUAL
5,2015-01-01 00:00:00,12.07653,8.0424,45.24257,11.60109,0,97.37881,7.51809,151.62408,28.32995,...,0,0,0,133.58071,0,34.44815,30.01975,8.17847,252.31481,9.05784
6,2015-01-02 00:00:00,12.10383,8.0424,46.44989,11.537,0,108.09363,7.51809,152.93118,28.54872,...,0,0,0,131.72542,0,35.59642,29.62161,8.00615,254.11523,8.98359
7,2015-01-03 00:00:00,12.10383,8.0424,46.44989,11.537,0,108.09363,7.51809,152.93118,28.54872,...,0,0,0,131.72542,0,35.59642,29.62161,8.00615,254.11523,8.98359
8,2015-01-04 00:00:00,12.10383,8.0424,46.44989,11.537,0,108.09363,7.51809,152.93118,28.54872,...,0,0,0,131.72542,0,35.59642,29.62161,8.00615,254.11523,8.98359
9,2015-01-05 00:00:00,12.13113,8.02556,47.59366,11.18448,0,113.84497,7.47361,150.31697,28.40288,...,0,0,0,131.2616,0,36.05573,29.42254,8.45683,255.65844,9.05784

In [22]:
#iloc 인덱싱을 이용하여 per 값만 추출하기
import pandas as pd
xlsx_data = pd.read_excel(r'stock_value.xlsx',header=8)
cols = xlsx_data.columns

for i in range(1,len(cols)):
    if i % 2 == 1:
        del xlsx_data[cols[i]]

xlsx = xlsx_data.iloc[5:,1:]
xls = pd.DataFrame(xlsx)
xls.head(10)

,A005930.1,A000660.1,A035420.1,A051910.1,A207940.1,A035720.1,A005380.1,A006400.1,A068270.1,A000270.1,...,A006390.1,A003230.1,A007570.1,A001060.1,A018250.1,A005610.1,A005180.1,A145990.1,A009410.1,A008350.1
5,12.07653,8.0424,45.24257,11.60109,NaN,97.37881,7.51809,151.62408,28.32995,8.05918,...,NaN,NaN,NaN,133.58071,NaN,34.44815,30.01975,8.17847,252.31481,9.05784
6,12.10383,8.0424,46.44989,11.537,NaN,108.09363,7.51809,152.93118,28.54872,8.05918,...,NaN,NaN,NaN,131.72542,NaN,35.59642,29.62161,8.00615,254.11523,8.98359
7,12.10383,8.0424,46.44989,11.537,NaN,108.09363,7.51809,152.93118,28.54872,8.05918,...,NaN,NaN,NaN,131.72542,NaN,35.59642,29.62161,8.00615,254.11523,8.98359
8,12.10383,8.0424,46.44989,11.537,NaN,108.09363,7.51809,152.93118,28.54872,8.05918,...,NaN,NaN,NaN,131.72542,NaN,35.59642,29.62161,8.00615,254.11523,8.98359
9,12.13113,8.02556,47.59366,11.18448,NaN,113.84497,7.47361,150.31697,28.40288,8.01296,...,NaN,NaN,NaN,131.2616,NaN,36.05573,29.42254,8.45683,255.65844,9.05784
10,11.78531,8.0003,47.2124,10.63968,NaN,114.47525,7.31791,145.08856,27.89243,7.88968,...,NaN,NaN,NaN,132.65306,NaN,36.05573,28.38737,8.23149,255.65844,8.98359
11,11.89451,7.98345,46.51343,10.54353,NaN,116.76003,7.56258,144.435,27.6372,7.98214,...,NaN,NaN,NaN,132.65306,NaN,36.7447,27.67072,8.12545,253.08642,8.8351
12,11.95822,8.41294,47.27595,10.76786,NaN,116.05096,7.91847,149.00987,27.78304,8.04378,...,NaN,NaN,NaN,132.65306,NaN,37.204,26.755,8.05917,250,8.76086
13,11.95822,8.37084,47.78429,11.44086,NaN,117.78424,8.00744,150.97052,28.00181,8.22869,...,NaN,NaN,NaN,131.72542,NaN,36.97435,26.83463,8.07243,255.40123,8.8351
14,11.95822,8.37084,47.78429,11.44086,NaN,117.78424,8.00744,150.97052,28.00181,8.22869,...,NaN,NaN,NaN,131.72542,NaN,36.97435,26.83463,8.07243,255.40123,8.8351

In [9]:
import pandas as pd
xlsx_data = pd.read_excel(r'stock_value.xlsx',header=8)
cols = xlsx_data.columns

for i in range(1,len(cols)):
    if i % 2 == 1:
        del xlsx_data[cols[i]]

xlsx = xlsx_data.iloc[5:,1:]
xls = pd.DataFrame(xlsx)

mean_df = xls.mean()
avg = pd.DataFrame(mean_df)
avg.rename(columns={'0':'per'}, inplace= True)
avg

                    0
A005930.1   33.386961
A000660.1   11.172129
A035420.1   57.380081
A051910.1   42.817725
A207940.1  145.760762
...               ...
A005610.1   42.166024
A005180.1   20.688355
A145990.1   16.172370
A009410.1  516.394766
A008350.1   18.580640

[201 rows x 1 columns]

In [7]:
avg_per = pd.DataFrame(mean_df)
avg_per.index[avg_per['per']==33.386961]

KeyError: '0'

In [6]:
simport numpy as np
import pandas as pd
xlsx_data = pd.read_excel(r'stock_value.xlsx',header=8)
cols = xlsx_data.columns

for i in range(1,len(cols)):
    if i % 2 == 1:
        del xlsx_data[cols[i]]

xlsx = xlsx_data.iloc[5:,1:]
xls = pd.DataFrame(xlsx)

mean_df = xls.mean()
avg = pd.DataFrame(mean_df)

#industrial=targetCodeList[0]
ind=[]
avg_per=[]
industrial = ['A000120', 'A011200', 'A001120', 'A079550', 'A006260', 'A010120', 'A001740', 'A003490', 'A000150', 'A336260', 'A020560', 'A012750', 'A028670', 'A047050', 'A047810', 'A051600', 'A180640', 'A272210', 'A012450', 'A086280']


for i in industrial:
    ind_list = avg_per[0][i+'.1']
    ind.append(ind_list)
ind

a= np.array(ind)
avgerage = np.mean(a)
print(average)

[71.71081942919368,
 23.841577505330488,
 15.872832562300365,
 108.23885727053144,
 19.387046699481818,
 16.98680612636177,
 70.80905636828646,
 3.751610027397267,
 30.625217901459898,
 159.27289262867643,
 11.278852311901487,
 25.92322843572944,
 21.125515590413983,
 15.619823825708076,
 35.845701341968926,
 19.09090138562095,
 5.505535123287665,
 14.241013088803092,
 68.85086690155435,
 12.342538631808308]

In [5]:
import pandas as pd
xlsx_data = pd.read_excel(r'stock_value.xlsx',header=8)
cols = xlsx_data.columns

for i in range(1,len(cols)):
    if i % 2 == 1:
        del xlsx_data[cols[i]]

xlsx = xlsx_data.iloc[5:,1:]
xls = pd.DataFrame(xlsx)

mean_df = xls.mean()
avg = pd.DataFrame(mean_df)

#industrial=targetCodeList[0]
ind=[]
avg_per=[]
industrial = ['A000120', 'A011200', 'A001120', 'A079550', 'A006260', 'A010120', 'A001740', 'A003490', 'A000150', 'A336260', 'A020560', 'A012750', 'A028670', 'A047050', 'A047810', 'A051600', 'A180640', 'A272210', 'A012450', 'A086280']


for i in industrial:
    #avg_per.append(avg[avg.index == industrial[i]+'.1'][0])
    #avg_per
    ind_list = avg.loc[[i+'.1'],0]
    ind.append(ind_list)
#ind




#average_per=[]

#    average_per.append(np.mean(ind))

#print(average_per)

KeyError: "i+'.1'"

In [1]:
#industrial=targetCodeList[0]
ind=[]
industrial = ['A000120', 'A011200', 'A001120', 'A079550', 'A006260', 'A010120', 'A001740', 'A003490', 'A000150', 'A336260', 'A020560', 'A012750', 'A028670', 'A047050', 'A047810', 'A051600', 'A180640', 'A272210', 'A012450', 'A086280']
for i in industrial:
    ind_list = avg_per.loc[[i+'.1']]
    ind.append(ind_lists)

ind
#industry = pd.DataFrame.from_records(ind)
#industry

NameError: name 'avg_per' is not defined

In [42]:
import pandas as pd
xlsx_data = pd.read_excel(r'stock_value.xlsx',header=8)
cols = xlsx_data.columns

for i in range(1,len(cols)):
    if i % 2 == 1:
        del xlsx_data[cols[i]]

xlsx = xlsx_data.iloc[5:,1:]
xls = pd.DataFrame(xlsx)

mean_df = xls.mean()
avg_per = pd.DataFrame(mean_df)

#industrial=targetCodeList[0]
ind=[]
industrial = ['A000120', 'A011200', 'A001120', 'A079550', 'A006260', 'A010120', 'A001740', 'A003490', 'A000150', 'A336260', 'A020560', 'A012750', 'A028670', 'A047050', 'A047810', 'A051600', 'A180640', 'A272210', 'A012450', 'A086280']
for i in industrial:
    ind_list = avg_per.loc[[i+'.1']]
    ind.append(ind_list)
print(type(ind), ind.shape)

AttributeError: 'list' object has no attribute 'shape'